.LabReportPage{
    background-color:#EFF2F7;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.ReportPageTable{
     margin: 10px 20px;
}
.ReportPageTable .MuiTableBody-root {
    overflow-y: auto;
    height: 79vh;
    /* Slim scrollbar styles */
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

.ReportPageTable .MuiTableBody-root::-webkit-scrollbar {
    width: 8px;
}

.ReportPageTable .MuiTableBody-root::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

.ReportPageTable .MuiTableBody-root::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb); 
    border-radius: 10px;
}
/* Define scrollbar colors */
:root {
    --scrollbar-thumb: #b3b3b3;
    --scrollbar-track: #f0f0f0;
}

.ChipShape {
    border-radius: 10px;
    height: 23px;
    align-items: center;
    display: flex;
    padding: 2px 6px;
    width: max-content;
}