.HomePage{
    background-color:#1a9ea93d;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.NavBarContainerBox{
    display: flex;
    width: 90%;
    padding: 1% 5% 0% 5%;    /* top, leftRight , Buttom  */ 
    align-items: center;
    gap: 10px;
    /* border-bottom: 1px solid var(--scarpa-flow-200, #D9D9DE); */
    /* background: #1a9ea93d; */
    justify-content: space-between;
}

.HospitalNamediv{
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.HospitalName{
    /* color: var(--Jade-600, #0FA968); */
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* gap:5px; */
    display: flex;
    flex-direction: column;
}

.HospitalLoc{
    /* color: var(--Jade-600, #0FA968); */
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* gap:5px; */
    display: flex;
    flex-direction: column;
     
}

.HomeContainerBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-shrink: 0;
    padding: 2% 5%;
    /* margin: 10px; */
    /* background-color: beige; */
    height: auto;
    width: 90%;
}

.FirstRowBox{
     display: flex;
     flex-direction: row;
     gap: 35px;
     align-items: flex-start;
     /* align-self: stretch; */
     width: 100%;
}

.ModuleContainer{
    display: flex;
    padding: 20px 40px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* flex: 1 0 0; */
    align-self: stretch;
    border-radius: 20px;
    border: 1px solid #EAECF2;
    background: var(--White, #FFF);
    width: 50%;
    cursor: pointer;
}

.SecondRowBox{
    display: flex;
    flex-direction: row;
    gap: 35px;
    align-items: flex-start;
    width: 100%;
}

.ModuleHeader{
    color: #000;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.ModuleSubTitle{
    color: var(--Scarpa-Flow-600, #565661);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.ModuleSubTitleSecond{
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.HomePage::-webkit-scrollbar {
    width: 6px;
    /* display: none;  */
}

.HomePage::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Color of the scrollbar thumb */
}
.HomePage::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1); /* Color of the scrollbar track */
}

.HomePage::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3); /* Color of the scrollbar thumb on hover */
}